.container_project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.container_project > .project_image{
    width: 500px;
}
.container_project > .project_image{
    width: 50%;
    border-radius: 10px;
}
.container_project > .project_image > img{
    width: 100%;
    border-radius: 10px;
}
.container_project > .project_content{
    width: 60%;
}
.container_project > .project_content > h1{
    text-align: center;
    margin-top: 30px;
}
.container_project > .project_content > h1:hover{
    scale: 1.05;
}
.container_project > .project_content > p{
    text-align: justify;
}
.container_project > .project_content > a{
    color:rgb(189, 189, 189);
    font-size: 14px;
}
.container_project > .project_image{
    width: 500px;
}
img{
    transition: transform 1s;
}
img:hover{
    transform: scale(1.1);
}
@media(max-width:700px){
    .container_project > .project_image{
        width: 70%;
    }
}
@media(max-width:400px){
    .container_project > .project_image{
        width: 85%;
    }
}