<h1>Projetos em Ordem Cronológica</h1>
<br>
<app-project-card
    imagem="/assets/pokedex.png"
    titulo="Pokédex"
    texto="Uma pokedex feita junto com o professor do curso. Adicionei mais informações à ela, status ( hp, at, def. sp.at, sp.def, speed),ability e hidden ability, e mais pokemon."
    link="https://github.com/JhonaelRocha/js-developer-pokedex"
    pages_link="https://jhonaelrocha.github.io/js-developer-pokedex/"
></app-project-card>
<app-project-card
    imagem="/assets/piano.png"
    titulo="Piano"
    texto="Um piano baseado em um projeto do GitHub, criado em JavaScript capaz de realizar arpejos, inversões, dividir escalas com 4 instrumentos."
    link="https://github.com/JhonaelRocha/Piano-C"
    pages_link="https://jhonaelrocha.github.io/Piano-C/"
></app-project-card>
<app-project-card
    imagem="/assets/sabores_com_história.gif"
    titulo="Sabores com História"
    texto="Projeto feito em equipe para ser apresentado ao final do curso. Faremos um blog de receitas com suas respectivas histórias e curiosidades sobre sua origem."
    link="https://github.com/willdev-crypto/blog"
    pages_link="https://github.com/willdev-crypto/blog"
></app-project-card>