/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
body{
    background: rgb(18,18,123);
    background: radial-gradient(circle, rgba(18,18,123,1) 0%, rgba(0,0,0,1) 100%);
}