<h1>Projetos em Ordem Cronológica</h1>
<br>
<app-unity-project-card
[isDownload]="true"
[isGitHub]="false"
download_link="https://drive.google.com/file/d/156_SCChOhbxHypUbAIxGrvFU_2oEDNuN/view?usp=drive_link"
github_link=""
image_1="/assets/chroma/mato.jpg"
image_2="/assets/chroma/fase_1.jpg"
image_3="/assets/chroma/coroa.jpg"
image_4="/assets/chroma/entregar_coroa.jpg"
titulo="Chroma"
texto="Chroma é um jogo mobile onde o seu objetivo é ajudar os NPCs à resolver suas situações, para isso você deverá usar a criatividade para imaginar o que os objetos em cena seriam se tivessem outra cor."
status="Projeto Perdido - Não foi salvo em um Repositório Remoto"
></app-unity-project-card>
<app-unity-project-card
[isDownload]="true"
[isGitHub]="true"
download_link="https://drive.google.com/file/d/1BESm3164R-apXw7E7_qrUkWX3UeOTbRa/view?usp=sharing"
github_link="https://github.com/JhonaelRocha/pokemon-rogue"
image_1="/assets/pokemon_rogue/pokemon_rogue_1.png"
image_2="/assets/pokemon_rogue/pokemon_rogue_2.png"
image_3="/assets/pokemon_rogue/pokemon_rogue_3.png"
image_4="/assets/pokemon_rogue/pokemon_rogue_4.png"
titulo="Pokémon Rogue"
texto="Pokémon Rogue é um jogo para PC onde o mundo pokémon é reimaginado em formato Rogue Like sem a necessidade de Treinadores com o obejtivo de se tornar o mais forte possível, derrotando inimigos, chefes, aprendendo novas habilidades, evoluindo e muito mais"
status="Em Desenvolvimento..."
></app-unity-project-card>
